.heading {
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}

.subHeading {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.tilt {
    display: flex;
    justify-content: center;
}

.portfolioItemImage {
    object-fit: contain;
    height: 400px;
    width: auto; 
}