.revealContainer {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #000;
  opacity: 1;
  visibility: visible;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  font-size: 50px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  @media (max-width: 1365px) {
    font-size: 45px;
  }
  @media (max-width: 1220px) {
    font-size: 40px;
  }
  @media (max-width: 1120px) {
    font-size: 35px;
  }
  @media (max-width: 945px) {
    font-size: 30px;
  }
  @media (max-width: 845px) {
    font-size: 25px;
  }
  @media (max-width: 670px) {
    font-size: 20px;
  }
}
