@mixin glitchCopy {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch {
  font-size: 140px;
  line-height: 140px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  position: relative;
  color: #FFF;
  animation: glitch-skew 1s infinite linear alternate-reverse;
  margin-bottom: 50px;

  &::before{
    @include glitchCopy;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
  }

  &::after {
    @include glitchCopy;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
  }

  @media(max-width: 995px) {
    font-size: 115px;
    line-height: 115px;
  }

  @media(max-width: 820px) {
    font-size: 90px;
    line-height: 90px;
  }

  @media(max-width: 650px) {
    font-size: 80px;
    line-height: 80px;
  }

  @media(max-width: 585px) {
    font-size: 70px;
    line-height: 70px;
  }
  
  @media(max-width: 500px) {
    font-size: 60px;
    line-height: 60px;
  }

  @media(max-width: 430px) {
    font-size: 50px;
    line-height: 50px;
  }

  @media(max-width: 370px) {
    font-size: 40px;
    line-height: 40px;
  }
}

@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
      transform: skew((random(100) / 100) + deg);
    }
  }
}

@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
      transform: skew((random(100) / 100) + deg);
    }
  }
}

@keyframes glitch-skew {
  $steps: 10;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      transform: skew((random(10) - 5) + deg);
    }
  }
}
