.hero {
  position: relative;
  .particles {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  background-size: cover;
  background-repeat: no-repeat;
}

.video {
  height: 100%;
}

.videoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  video {
    position: absolute;
  }
}

.subHeading {
  font-size: 18px;
  font-weight: 300;
  color: #ccc;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.type {
  font-size: 50px;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 6px;
  @media (min-width:768px) and (max-width:1050px) {
    font-size: 40px;
    line-height: 20px;
  }
  @media (max-width:767px) {
    font-size: 30px;
    line-height: 20px;
  }
  span {

  }
}

.resume {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid;
  font-weight: 300;
  transition: .5s;
  margin-top: 40px;
  &:hover {
    color: #fff;
    text-decoration: none;
    border-color: #04e5e5;
  }
}

.hideButton {
  display: none;
}