.aboutSection {
  position: relative;
  overflow: hidden;
  background-color: #050505;
  padding-top: 50px;
  .particles {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  @media (max-width: 767px) {
    padding: 80px 20px;
  }
  @media (max-width: 500px) {
    padding: 0 20px;
  }
}

.aboutContainer {
  padding: 100px 0;
  @media (max-width: 500px) {
    padding: 50px 0;
  }
}

.aboutLeftCol {
  display: flex;
  align-items: baseline;
  justify-content: center;
  @media (max-width: 500px) {
    margin-bottom: 50px;
  }
}

.imageAbout {
  max-width: 400px;
  @media (max-width: 767px) {
    max-width: 200px;
  }
  @media (max-width: 1400px) {
    max-width: 280px;
  }
}

.aboutHeading {
  font-size: 70px;
  color: #fff;
  line-height: 70px;
}

.aboutSeparator {
  height: 5px;
  width: 50px;
  background-color: #04e5e5;
  margin-bottom: 20px;
}

.aboutText {
  font-size: 20px;
  font-weight: 300;
  color: #c5c5c5;
}

.aboutCounterRow {
  margin-top: 0;
  background-color: #000;
  padding: 100px 0;
  @media (max-width: 500px) {
    margin-top: 0;
  }
}

.aboutCounterComponent {
  margin: 10px 0;
  text-align: left;
  @media (max-width:767px) {
    margin: 50px 0;
    text-align:center;
  }
  .value {
    font-size: 120px;
    color: #fff;
    line-height: 90px;
  }
  .text {
    font-size: 20px;
    color: #fff;
  }
  .symbol {
    color: #04e5e5;
    position: absolute;
    font-size: 39px;
    top: -28px;
    @media (max-width: 500px) {
      top: 0;
    }
  }
}