.sectionContact {
  position: relative;
  overflow: hidden;
  background-color: #000;
  padding: 50px 0;
  @media (max-width: 767px) {
    padding-bottom: 0;
  }
}

.contactCol {
  min-height: 600px;
  max-height: 600px;
  background-color: #111;
  padding: 0;
  display: flex;
  align-items: center;
  margin: auto;
  padding-left: 0 !important;
}

.iconRow {
  margin-top: 150px;
}

.iconCol {
  @media (max-width: 767px) {
    margin-bottom: 140px;
  }
}

.infoPart {
  min-height: 250px;
  background-color: #111;
  border: 2px solid #444;
}

.icon {
  height: 70px;
  width: 70px;
  object-fit: contain;
}

.infoTitle {
  font-size: 35px;
  color: #fff;

  text-align: center;
}

.infoContainer {
  position: relative;
  bottom: 30px;
}

.infoLinkContainer {
  text-align: center;
}

.infoLink {
  color: #04e5e5;
  transition: .5s;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


