.contactForm {
  padding: 40px;
  width: 100%;
  position: relative;
  z-index: 5;
}

.heading {
  font-size: 70px;

  color: #fff;
  @media(max-width: 575px) {
    font-size: 55px;
  }
  @media(max-width: 375px) {
    font-size: 45px;
  }
}

.separator {
  height: 5px;
  width: 50px;
  background-color: #04e5e5;
  margin-bottom: 30px;
  margin-left: 6px;
}

.inputElement {
  margin: 20px 0;
}

.textarea {
  width: 100%;
  background-color: #111;
  border: none;
  border-bottom: 1px solid #444;
  padding: 10px 5px;
  border-radius: 0;
  color: rgb(255, 255, 255);
  transition: all 0.5s ease 0s;
  min-height: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100px;
  &.error {
    border-bottom: 1px solid #ff0000;
  }
  &:focus {
    border-bottom: 1px solid #04e5e5;
    outline: none;
  }  
}

.submitButton {
  display: block;
  height: 50px;
  width: 186px;
  position: relative;
  border: none;
  overflow: hidden;
  transition: .5s;
  background-color: #000;
  &:hover {
    background: #444;
  }
  span {
    position: relative;
    top: 0;
    color: #fff;
    z-index: 10;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
