.timelineContainer {
  display: flex;
  height: auto;
  margin-top: 60px;
  position: relative;
}

.timelineDetails {
  display: block;
}

.timelineYears {
  color: #fff;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 60px;
  position: absolute;
  top: -60px;
  opacity: .1;
  @media (max-width:767px) {
    font-size: 45px;
    top: -35px;
  }
  @media (max-width:1439px) {
    font-size: 40px;
    top: -38px;
  }
}

.timelineHeading {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
}

.timelineCompany {
  font-size: 15px;
  font-weight: 900;
  color: #04e5e5;
  margin-bottom: 5px;
}

.timelineText {
  font-size: 15px;
  font-weight: 300;
  color: #c5c5c5;
  white-space: pre-line;
}



















.timelineSelectors {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 50px;
  left: 20px;
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: rgba(255,255,255,.5);
    z-index: -1;
    margin: auto;
    left: 40%;
    border-radius: 20px;
  }
}

.timelineSelector {
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  border: none;
  margin: 10px 0px;
  transition: .5s;
  &:focus {
    outline: none;
  }
  &.active, &:hover {
    background-color: #1098ad;
  }
}




