.footerMain {
  background-color: #111;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcon {
  font-size: 25px;
  color: #555;
  margin: 0 5px;
  cursor: pointer;
  transition: .5s;
  &:hover {
    color: #04e5e5;
  }  
}