.skillsSection {
  position: relative;
  overflow: hidden;
  background-color: #050505;
  background-size: cover;
  padding: 50px 0;
  .heading {
    width: 100%;
  }
}

.skillsContainer {
  border-radius: 20px;
  margin: 40px auto;
}

.skillDescription {
  color: #fff;
  margin: 0;
  margin-top: 15px;
}
