@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "../css/slickTheme.css";
@import "../css/slick.css";
@import "../css/plugins.css";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #000;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Oswald;
}
#___gatsby {
  overflow-x: hidden;
}
@media (max-width: 500px) {
  .slick-dots li {
    margin: 0 !important;
  }
}